<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
    </head>
    <body>
        <h1>Queue Manager</h1>
        <a href="{{ path('queue_page') }}">Очереди</a>
        <a href="{{ path('task_1_page') }}">{{ task_name_1 }}</a>
        <a href="{{ path('task_2_page') }}">{{ task_name_2 }}</a>
    </body>
</html>
